ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}


/* Escribe tu CSS a continuación, no cambies las reglas anteriores. */

/* TODO 1: Establecer el CSS para todos los párrafos a "color: red;" */
p {
  color: red;
}

/* TODO 2: Establecer el CSS para todos los elementos con la clase "note" a "font-size: 20px;" */
.note {
  font-size: 20px;
}

/* TODO 3: Establecer el CSS para el elemento con el id "id-selector-demo" a "color: green;" */
#id-selector-demo {
  color: green;
}

/* TODO 4: Establecer el CSS para los elementos li que tienen el atributo "value" establecido en "4" a "color: blue;" */
li[value="4"] {
  color: blue;
}

/* TODO 5: Establecer que todos los elementos tengan "font-family: sans-serif;" */
* {
  text-align: center;
}

